<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Classroom-listing</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}">Navbar
</div>

<div class="container">
    <br/>
    <h2>Classrooms</h2>
    <p style="color:red">
        <a th:text="${errorMessage}"></a>
    </p>
    <a class="btn btn-sm btn-secondary" href="/">Back to menu</a>
    <a class="btn btn-sm btn-success" href="/classrooms/new">Create new classroom</a>
    <br/>
    <br/>
    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
        <tr>
            <th class="text-dark">Room name</th>
            <th class="text-dark">Type</th>
            <th class="text-dark">Capacity</th>
            <th class="text-dark">Building</th>
            <th class="text-dark">Removal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="classroom : ${classrooms}">
            <td>
                <a th:href="@{/classrooms/{id}(id=${classroom.id})}"
                   th:text="${classroom.roomName}">classroom</a>
            </td>
            <td>
                <a th:href="@{/classrooms/{id}(id=${classroom.id})}"
                   th:text="${classroom.roomType}">classroom</a>
            </td>
            <td>
                <a th:href="@{/classrooms/{id}(id=${classroom.id})}"
                   th:text="${classroom.roomCapacity}">classroom</a>
            </td>
            <td>
                <a th:href="@{/classrooms/{id}(id=${classroom.id})}"
                   th:text="${buildings.getById(classroom.buildingId).buildingName}">building</a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/classrooms/{id}(id=${classroom.id})}">
                    <input class="btn btn-sm btn-danger" type="submit" value="Delete!"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
